
@{
    ViewBag.Title = "ForumIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ForumUi.Models.Thread[]

<div class="row">
    <div class="wrapper">
        @foreach (var threadItem in Model)
        {
            <div class="threadOverview">
                <p>@threadItem.Subject | @threadItem.DateCreated</p>
                @foreach (var postItem in threadItem.Posts)
                {
                    <div>
                        @postItem.Text
                    </div>
                }
            </div>
        }
    </div>
</div>

