@{
    ViewBag.Title = "Home Page";
}
@model List<ForumUi.Models.User>

<div class="jumbotron">
    <h1>ForumWebAPI</h1>
    <p class="lead">Vi skippar nog denna jumbotron, men har den kvar för den ser söt ut just nu.</p>
</div>

<div class="row">
    <div class="wrapper">
        @foreach (var item in Model)
        {
            <div class="userOverview">
                <div class="avatar-frame" style="display: inline-block">
                    <img src=@item.Avatar alt="Avatar, typ" />
                </div>
                <p style="display: inline-block">@item.Id | @item.Email | @item.Username | @item.DateCreated</p>
                <input type="button" name="btnEdit" Value="Edit" />
            </div>
        }
    </div>
</div>